*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flex{
    display: flex;
}

h1{
    text-align: center;
} 

section{
    min-width: 307px;
    width: 30vw;
    min-height: 395px;
    background-color: aquamarine;
    margin: auto;
    margin-top: 64px;
    padding: 2rem;
}

.select{
    justify-content: space-between;
    width: 60%;
    background-color: rgb(255, 255, 255);
    align-items: center;
    cursor: pointer;
}

section > div{
    margin: 1rem auto;
    padding: 1rem;    
}

h2{
    text-align: center;
    font-family: sans-serif;
}

.dropdown{
    background-color: white;
    width: 60%;
    flex-flow: column;
}

.dropdown > p{
    padding: 0.5rem;
    cursor: pointer;
}

.angle-right{
    transition: transform 0.2s linear;
}